# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# macOS system files
.DS_Store

# Editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage

# pytest cache
.pytest_cache/
